.skills-container {
  margin-top: 50px;
  text-align: center;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.skills-title {
  color: #940b4f;
  font-weight: bold;
  font-size: 30px;
}

.skills-line {
  width: 80%;
  margin: 5px auto;
}

